html, body {
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
  min-height: 500px;
}

#flyovers{
  background-color: #70c3be;
  letter-spacing: 2px;
  }
#flyovers a{
  text-decoration: none;
}

textarea {
    height: 200px;
}

#flyovers{padding-bottom: 800px;}


#author a{
  color: #fff;
  text-decoration: none;

}
